*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand:hover{
    animation:flip;
    animation-duration: 1s;
}
header{
    position: fixed;
    width: 100%;
    padding: 0px 1.5rem;
    z-index: 20;
    height: 100px;
    transition: all .3s ease;
}
.scrolled{
    background-color: #080809 !important;
}

.dropdown-item{
    color: white;
}

.dropdown-menu{
    background-color: transparent;
}

.buscador{
    max-width: 900px;
}

.carousel-item img{
    height: 1000px;
    object-fit: cover;
}

.navbar-brand img{
  height: 50px;

}

.navbar li a{
    text-decoration: none;
    color: rgb(217, 217, 217);
    font-family: Montserrat;
    font-weight: 500;
    font-size: 15px;
}

.nav-link:hover{
    animation: pulse;
    animation-duration: 1s;
}


/* MAIN INICIO */

.section-home{
    width: 100%;
    height: 1200px;
    background-image:url("../assets/img/drone-index.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
#seccion-contenedor{
    padding: 100px 0;
}
#seccion-contenedor h2{
    text-align: center;
}
.card-img-container{
    max-width: 300px;
}
#card-container{
    max-width: 1200px;
    margin: auto;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms;
}
.caja{
    padding: 250px 0;
}
section div .card {
    background-color: #e0e0e0;
    border-radius: 5px;
    max-width: 300px;
    max-height: 500px;
    width: 100%;
    height: 100%;
}

section .cardTitle {
    font-size: 18px;
    text-transform: uppercase;
}
section .cardText {
    font-size: 15px;
}
section .cardTitle, section .cardText {
    margin-top: 10px;
    font-family: "Encode Sans Semi Condensed", sans-serif;
    text-align: center;
}
.card-body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-comprar{
    width: fit-content;
    margin-bottom: 5px;
}

.card:hover {
  outline: 1px solid black;

}

/* ESTILOS CARRITO */

.carrito-contenedor{
    position: relative;
}
#contador-carrito{
    position: absolute;
    color: white;
    border-radius: 50%;
    background-color: red;
    text-align: center;
    font-size: 15px;
    top: 0;
    width: 25px;
    height: 25px;
}
#boton-carrito{
    cursor: pointer;
}
.contenedor-carrito-imagen-min{
    width: 50px;
    height: 50px;
}
.carrito-imagen-min{
    width: 100%;
    height: 100%;
}
.carrito-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.carrito-item div p{
    margin-top: 12px;
}
.carrito-modificar,
.carrito-eliminar{
    border: none;
    background-color: transparent;
}
.contenedor-botones-carrito{
    margin: auto 0;
}
.contenedor-stock{
    position: relative;
    padding: 10px 20px;
    height: 30px;
    width: 30px;
}
.contenedor-stock i{
    position: absolute;
    top: 60%;
    transform: translateY(-100%);
}
.boton-restar,
.boton-sumar{
    cursor: pointer;
    z-index: 50;
}



/* footer general */
.footer-container{ 
    width: 100%;
    padding-top: 50px;
    margin-bottom: 0;
    background-color: #000000;
}

.footer-left img{
    padding-bottom: 10px;
}

.footer-left{
    padding: 15px 3rem;
}

.footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.footer-icons a{
    list-style: none;
    padding: 10px;
    margin: 5px;
    margin-bottom: 0;
}

.footer-icons a:hover{
    animation: fadeIn;
    animation-duration: 1.5s;
}

.footer-copy{
    width: 100%;
    background-color: #3d454d;
    padding: 20px;
    margin-bottom: 0;
    text-align: center;
}

.footer-copy p{
    color: rgb(0, 0, 0);
}
